<section class="todoapp">
    <header class="header">
      <div class="container">
        <h1>Mi Día</h1>
        
        <p>Todas mis tareas en un sólo lugar</p>
        <input
          class="new-todo"
          placeholder="Nueva tarea"
          autofocus
          type="text"
         [formControl]="formHome"
         (keydown.enter)="changeHandler()"
        />
        <div *ngIf="formHome.errors">
          <div *ngIf="formHome.hasError('required')"><!--Solucionar el campo que se muestra siempre-->
            El campo no debe estar vacío.
          </div>
          
        </div>
      </div>
         <!--(change)="changeHandler($event)"  lo cambio por el formulario-->
     
    </header>
    <div class="container todoapp-wrapper">
    <!-- Esta sección debe estar oculta de forma predeterminada y mostrarse cuando hay tareas -->
      <section class="main">
        <ul class="todo-list">
          <!--con el index as i me da la posicion de la tarea para usarla al momento de eliminar
           se usa la clase completed para tachar la tarea-->
          <li (dblclick)="updateEdicion(i)" 
          *ngFor="let tarea of tareasByfilter(); index as i" 
          [class.editing]="tarea.editando"
          [class.completed]="tarea.completado">
            <div class="view">
              <input class="toggle" type="checkbox" [checked]="tarea.completado" (change)="updateTarea(i)"/>
              <label>{{ tarea.titulo }}</label>
              <button class="destroy" (click)="deleteTarea(i)"></button>
            </div>
            <input class="edit" (keydown.enter)="updateEdicionTitulo(i, $event)" [value]="tarea.titulo" />
          </li>
        <!--
          <li class="completed">
            <div class="view">
              <input class="toggle" type="checkbox" />
              <label>Buy a unicorn</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Buy a unicorn" />
          </li>-->
          <!--<li class="editing">
            <div class="view">
              <input class="toggle" type="checkbox" />
              <label>Make dishes</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Make dishes" />
          </li><-->
        
        </ul>
      </section>
      <!-- Este pie de página debe estar oculto de forma predeterminada y mostrarse cuando hay tareas -->
      <footer class="footer">
        <!-- uso string interpolation -->
        <span class="todo-count">
        <!--le agrego la condicion de que si es una sola tarea la muestre en singular-->
          <strong>{{ tareasByfilter().length }}</strong> 
          {{ tareas().length === 1 ? 'Tarea' : 'Tareas' }}
        </span>
        <!--usando ngIf
        <span *ngIf="tareas().length === 1; else miBloque">
          Tarea
        </span>
        <ng-template #miBloque>Tareas</ng-template>
        -->
        
        <!-- Elimine esto si no implementa el enrutamiento -->
        <ul class="filters">
          <li>
            <a (click)="changeFilter('todas')" [class.selected]="filter()==='todas'">Todas</a>
          </li>
          <li>
            <a (click)="changeFilter('pendiente')"[class.selected]="filter()==='pendiente'">Pendiente</a>
          </li>
          <li>
            <a (click)="changeFilter('completado')"[class.selected]="filter()==='completado'">Completado</a>
          </li>
        </ul>
        <!-- Oculto si no quedan elementos completos ↓ -->
        <button class="clear-completed">Clear</button>
      </footer>
    </div>
  </section>
